<div class="about">
    <h2>ABOUT ME</h2>
    <br>
    <p>Born in Bekasi, Indonesia, received elementary, middle, and high school education in hometown, then migrated to Surabaya to study college and plans to live there. Hello! my name Said Ahmad Fadhilah, usually called Fadhil, currently I live in Surabaya and study at the National Development University "Veteran" East Java. My daily activities as a Chemical Engineering student are filled with studying, practicum and practicum reports. In addition, I am also a member of the Chemical Engineering Student Association as a Student Relations staff who is responsible for the blood donor work program, open house, and the association website, not only that, I am also a member of the Reasoning and Creativity Student Activity Unit as a website expert staff responsible for managing organisation website.</p>
    <br>
    <p>Trying my best to reduce pollution on earth is the goal of my life. As a chemical engineering student, apart from providing benefits in industrial processes, I should protect the environment around the factory so that it is not polluted by harmful chemical substances. Contributing to a team or company is my passion and helping as well as seeing the company develop is a matter of pride for me.</p>
    <br>
    <p>I'm currently studying in the world of college, it's been a passion for me once I graduate from university to be able to work for a small company and see it grow with my contributions.</p>
</div>
<!-- <br>
<div class="skill">
    <h2>MY SKILLS</h2>
    <br>
    
</div>
<br>
<div class="portfolio">
    <h2>CHECK MY WORK</h2>
    <br>
</div>
<br>
<div class="certificate">
    <h2>I ALSO HAVE</h2>
    <br>
</div> -->