<div class="about">
    <h2>ABOUT ME</h2>
    <br>
    <p>Hi! greetings, my name is Said Ahmad Fadhilah, you can call me Fadhil, I am a freelancer in the field of web development.</p>
    <br>
    <p>Coding a website has been my hobby since high school. I've made a lot of websites since then, ranging from BMI calculators, websites to download images of my designs, AI chatbots, hacker games, covid-19 tracker, color scheme generators and many more.</p>
    <br>
    <p>Playing logic with codes is one of my pleasures to fill my spare time. Be my own happiness if you ask for help in your project just contact me, at an affordable price I will help.</p>
</div>
<!-- <br>
<div class="skill">
    <h2>MY SKILLS</h2>
    <br>
</div>
<br>
<div class="portfolio">
    <h2>CHECK MY WORK</h2>
    <br>
</div>
<br>
<div class="certificate">
    <h2>I ALSO HAVE</h2>
    <br>
</div> -->