<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hi! My name is Fadhil and I'm a Chemical Engineer, a Web Developer, and an Investor">
        <meta name="keywords" content="said, ahmad, fadhil, said ahmad, said ahmad fadhilah, said fadhil, chemical engineer, chemical, engineer, web developer, web, developer, investor, saf">
        <meta name="author" content="Said Ahmad Fadhilah">
        <meta name="theme-color" content="#ff9500">
        <title>Fadhil's Profile</title>
        <link rel="icon" href="/images/iconCE.png" id="icon">
        <link rel="stylesheet" href="/style.css">
        <link rel="canonical" href="https://profilefadhil.herokuapp.com/">
        <script src="/script.js" defer></script>
    </head>
    <body>
        <div class="container" id="container">
            <%- body %>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>