.button{
    border: none;
    border-radius: 25px;
    padding: 25px;
    font-size: var(--font-size);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: var(--font-color);
    font-weight: bold;
}

.button-cta{
    background: var(--cta-button);
    transition: 0.25s;
}

.button-lcta{
    background: var(--ncta-button);
    border: 1px solid var(--cta-button);
    transition: 0.25s;
}

.button-ncta{
    background: var(--ncta-button);
    transition: 0.25s;
}

.button-cta:hover{
    background: var(--button-hover);
}

.button-lcta:hover{
    background: var(--button-hover);
    border: 1px solid var(--button-hover);
}

.button-ncta:hover{
    background: var(--button-hover);
}

/* .button-cta-ball{
    border-radius: 50%;
    padding: 6.25px;
    background: var(--cta-button);
    transition: 0.25s;
}

.button-lcta-ball{
    border-radius: 50%;
    padding: 6.25px;
    background: var(--ncta-button);
    border: 1px solid var(--cta-button);
    transition: 0.25s;
}

.button-ncta-ball{
    border-radius: 50%;
    padding: 6.25px;
    background: var(--ncta-button);
    transition: 0.25s;
}

.button-cta-ball:hover{
    background: var(--cta-button-hover);
}

.button-lcta-ball:hover{
    background: var(--ncta-button-hover);
    border: 1px solid var(--cta-button-hover);
}

.button-ncta-ball:hover{
    background: var(--ncta-button-hover);
} */