footer{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background: var(--background-primary);
    font-size: var(--lessreadble-font-size);
    padding: 25px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}


footer a{
    text-decoration: none;
    cursor: pointer;
    color: var(--background);
}

footer svg{
    margin: 0px 12.5px;
}

footer svg, footer path{
    cursor: pointer;
}

footer svg:hover path, footer path:hover{
    fill: var(--background);
}